.test {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: $content-width;
  height: $content-height;
  margin: 0 auto;
  padding-top: 50px;

  &__header {
    margin: 0;

    font-size: $font-size-big;
    line-height: $line-height-big;
  }

  &__answers {
    margin-bottom: 150px;
  }

  &__hint {
    margin: 0 auto 20px auto;
  }

  &__submit {
    margin: 0 auto;
  }
}
