.answers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 0;
  list-style: none;

  &__checkbox {
    display: none;

    &:not(:disabled):not(:checked) + .answers__label:hover {
      background-color: $grey-color;
    }

    &:not(:disabled) + .answers__label:hover {
      cursor: pointer;
    }

    &:checked + .answers__label {
      background-color: $darkblue-color;
      color: $grey-color;
    }

    &:checked + .answers__label--error {
      background-color: $error-color;
      border-color: $error-color;
    }
  }

  &__label {
    display: block;
    width: 150px;
    margin: 0 0 20px 0;

    @include oval;

    color: $darkblue-color;
    border: 2px solid $darkblue-color;
  }
}
